@import	'_param.scss';
body{
	font:18px/27px 'Noto Sans', sans-serif;
	color: rgb(94, 94, 94);
}

.data_info{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content:center;
	padding: 16px 16px 18px;
	position: relative;
	@media screen and (max-width: 1023px) {
		padding: 0;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: rgb(246, 246, 246);
		border-bottom: 1px solid rgb(218, 218, 218);
		@media screen and (max-width: 1023px){
			content: none;
		}
	}
	.address,.contact{
		font-weight: 400;
		a{
			color: rgb(94, 94, 94);
			&:hover{
				text-decoration: none;
			}
		}
		@media screen and (max-width: 1023px) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.address{
		font-size: 14px;
		@media screen and (min-width: 768px) {
			font-size: 16px;
		}
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
		// 
		@media screen and (max-width: 1023px){
			padding: 13px 0;
		}
	}
	.contact{
		position: relative;
		padding-left: 33px;
		font-size: 16px;
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
		&:before{
			content: "";
			width: 1px;
			height: 18px;
			background: rgb(27, 27, 27);
			opacity: 0.4;
			position: absolute;
			top: 50%;
			left: 16px;
			transform:translateY(-50%);
		}
		@media screen and (max-width: 1023px) {
			padding: 22px 0;
			display: block;
			background: rgb(246, 246, 246);
			&:before{
				content: none;
			}
		}
	}
}
.logo_block{
	padding: 24px 10px;
	.logo{
		font:32px/1.2 'Sanchez', serif;
		@media screen and (min-width: 768px) {
			font-size: 38px;
		}
		@media screen and (min-width: 1280px) {
			font-size: 44px;
		}
		@media screen and (min-width: 1536px) {
			font-size: 48px;
		}
		a{
			color: rgb(27, 27, 27);
			&:hover{
				text-decoration: none;
			}
		}
	}
	.slogan{
		color: rgb(89, 89, 89);
		display: block;
		padding-top: 8px;
		font-size: 14px;
		line-height: 1.25;
		text-transform: uppercase;
		letter-spacing: 0.143em;
		@media screen and (min-width: 1536px) {
			font-size: 16px;
		}
	}
}

.title{
	font: 22px/1.4 'Sanchez', serif;
	margin-bottom: 40px;
	color: rgb(27, 27, 27);
	border-bottom: 1px solid rgb(119, 119, 119);
	padding-bottom: 16px;
	@media screen and (min-width: 1536px) {
		font-size: 24px;
	}
	@media screen and (max-width: 767px) {
		margin-bottom: 24px;
	}
}
.list_text{
	padding-top: 41px;
	h4{
		margin-bottom: 24px;
		
		line-height: 1.25;
		color: rgb(27, 27, 27);
		font-weight: 400;
		font-size: 22px;
		@media screen and (min-width: 1536px) {
			font-size: 24px;
		}
	}
	p{
		margin-bottom: 27px;
		font-size: 16px;
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.img_prev{
		margin-bottom: 24px;
		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}
	}
}
.book_now_section{
	p{
		font-size: 16px;
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	@media screen and (min-width: 768px) {
		margin-left: -24px;
		margin-right: -24px;
	}
	.col-12{
		max-width: 100%;
		flex:0 0 100%;
		padding-left: 12px;
		padding-right: 12px;
		@media screen and (min-width: 1024px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	.col-md-6{
		max-width: 100%;
		flex:0 0 100%;
		padding-left: 12px;
		padding-right: 12px;
		@media screen and (min-width: 768px) {
			max-width: 50%;
			flex:0 0 50%;
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	.col-lg-6{
		max-width: 100%;
		flex:0 0 100%;
		padding-left: 12px;
		padding-right: 12px;
		@media screen and (min-width: 1024px) {
			max-width: 50%;
			flex:0 0 50%;
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}
.row_lg{
	margin-left: -12px !important;
	margin-right: -12px !important;
	@media screen and (min-width: 1024px) {
		margin-left: -24px !important;
		margin-right: -24px !important;
	}
}
.order-lg-last{
	@media screen and (min-width: 1024px){
		order:12;
	}
}
.text-lg-center{
	@media screen and (min-width: 1024px){
		text-align: center;
	}
}
.price_list{
	padding-top: 40px;
	padding-bottom: 40px;
	ul{
		max-width: 65.444%;
		margin: 0 auto;
		padding: 0 0 34px 0;
		position: relative;
		&.bordered_bottom:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgb(226, 226, 226);
			width: 100%;
			height: 1px;
		}
		@media screen and (max-width: 767px) {
			max-width: 100%;
		}
		.d-flex{
			flex-wrap: wrap;
			padding-bottom: 8px;
		}
		li{
			padding: 24px 0;
		}
		p{
			color: rgb(94, 94, 94);
			margin: 0;
			font-size: 16px;
			line-height: 1.5;
			@media screen and (min-width: 1536px) {
				font-size: 18px;
			}
		}
		h3{
			color: rgb(27, 27, 27);
			font-weight: 400;
			font-size: 28px;
			line-height: 1.25;
			margin: 0;
			@media screen and (min-width: 768px) {
				font-size: 30px;
			}
			@media screen and (min-width: 1280px) {
				font-size: 32px;
			}
			@media screen and (min-width: 1536px) {
				font-size: 36px;
			}
		}
		h4{
			font-size: 22px;
			line-height: 1.25;
			color: rgb(27, 27, 27);
			font-weight: 400;
			margin: 0;
			padding: 0 15px 0 0;
			flex-grow: 1;
			flex-basis: 0;
			width: 100%;
			max-width: 100%;
			@media screen and (max-width: 767px) {
				max-width: 100%;
				flex:0 0 100%;
			}
			@media screen and (min-width: 1536px) {
				font-size: 24px;
			}
		}
		.d-flex strong{
			white-space: nowrap;
			color: rgb(27, 27, 27);
			font-weight: 400;
			font-size: 22px;
			line-height: 1;
			@media screen and (min-width: 1536px) {
				font-size: 24px;
			}
		}
	}
}
.video_block{
	padding-bottom: 40px;
	
}
.viber_ico{
	width: 24px;
	height: 24px;
	max-width: 24px;
	flex:0 0 24px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' width='24px' height='24px' data-ux='Icon' class='x-el x-el-svg c1-56 c1-3k c1-51 c1-8a c1-c'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 497'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='247.32' x2='247.32' y1='446.09' y2='39.9' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2320b038'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2360d66a'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='247.32' x2='247.32' y1='453.37' y2='32.61' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f9f9f9'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M37.88 453.37l29.59-108A208 208 0 0 1 39.63 241.1c0-115 93.6-208.49 208.56-208.49a208.57 208.57 0 0 1 208.57 208.66c-.05 115-93.62 208.49-208.57 208.49h-.08a208.41 208.41 0 0 1-99.67-25.38zm115.68-66.73l6.34 3.75a173.18 173.18 0 0 0 88.23 24.16h.06c95.55 0 173.31-77.75 173.35-173.3A173.34 173.34 0 0 0 248.26 67.83c-95.62 0-173.38 77.73-173.42 173.28a172.94 172.94 0 0 0 26.5 92.23l4.13 6.55L88 403.84z'%3E%3C/path%3E%3Cpath fill='url(%23a)' d='M45.13 446.09l28.57-104.3a200.82 200.82 0 0 1-26.88-100.62c0-111 90.36-201.27 201.34-201.27A201.35 201.35 0 0 1 449.5 241.32c0 111-90.37 201.28-201.33 201.28h-.09a201.31 201.31 0 0 1-96.21-24.49z'%3E%3C/path%3E%3Cpath fill='url(%23b)' d='M37.88 453.37l29.59-108A208 208 0 0 1 39.63 241.1c0-115 93.6-208.49 208.56-208.49a208.57 208.57 0 0 1 208.57 208.66c-.05 115-93.62 208.49-208.57 208.49h-.08a208.41 208.41 0 0 1-99.67-25.38zm115.68-66.73l6.34 3.75a173.18 173.18 0 0 0 88.23 24.16h.06c95.55 0 173.31-77.75 173.35-173.3A173.34 173.34 0 0 0 248.26 67.83c-95.62 0-173.38 77.73-173.42 173.28a172.94 172.94 0 0 0 26.5 92.23l4.13 6.55L88 403.84z'%3E%3C/path%3E%3Cpath fill='%23fff' d='M196.07 153.94c-3.91-8.68-8-8.85-11.73-9-3-.14-6.51-.13-10-.13a19.15 19.15 0 0 0-13.89 6.52c-4.78 5.22-18.24 17.82-18.24 43.46s18.67 50.42 21.28 53.9 36.05 57.77 89 78.66c44 17.36 53 13.91 62.53 13s30.83-12.61 35.18-24.78 4.34-22.59 3-24.77-4.78-3.48-10-6.08-30.83-15.22-35.61-16.95-8.25-2.61-11.73 2.61-13.45 16.94-16.5 20.42-6.08 3.92-11.29 1.31-22-8.11-41.9-25.86c-15.5-13.82-26-30.87-29-36.09s-.32-8 2.29-10.63c2.34-2.34 5.21-6.09 7.82-9.13s3.47-5.21 5.21-8.69.87-6.52-.44-9.13-11.35-28.34-15.98-38.64z'%3E%3C/path%3E%3C/svg%3E%3C/svg%3E");
}
.viber_btn{
	background-color: rgb(69, 90, 100);
	display: inline-flex;
	align-items:center;
	max-width: 265px;
	padding: 8px 24px;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1023px) {
		max-width: 100%;
		padding: 12px 28px;
		strong{
			padding-left: 10px;
		}
	}
	&:hover{
		text-decoration: none;
		background-color: rgb(79, 102, 114);
	}
	strong{
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
	}
}
.contact_block{
	padding-bottom: 80px;
	@media screen and (max-width: 767px){
		padding-bottom: 30px;
	}
	h4{
		margin-bottom: 24px;
		color: rgb(27, 27, 27);
		font-weight: 400;
		font-size: 22px;
		@media screen and (min-width: 1536px) {
			font-size: 24px;
		}
	}
	p{
		margin-bottom: 24px;
		font-size: 16px;
		line-height: 1.5;
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
		a{
			color: rgb(0, 117, 193);
			&:hover{
				text-decoration: none;
				color: rgb(0, 73, 124);
			}
		}
	}
}
.footer{
	padding: 56px 0;
	@media screen and (max-width: 767px) {
		padding: 32px 0;
	}
	.line_1{
		margin: 24px 0;
		height: 1px;
		background: rgb(226, 226, 226);
	}
	.copy{
		text-align: center;
		display: block;
		padding-bottom: 24px;
		margin-bottom: 24px;

		color: rgb(89, 89, 89);
		font-size: 14px;
		line-height: 1.5;
		position: relative;
		@media screen and (min-width: 1536px) {
			font-size: 16px;
		}
		&:after{
			content: "";
			width: 50px;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
			background: rgb(226, 226, 226);
			transform:translateX(-50%);
		}
	}
}
.map_holder{
	background: #ccc;
	padding-bottom: 30%;
	@media screen and (max-width: 767px) {
		min-height: 200px;
	}
}
.btn_toggle{
	&.active{
		opacity: 0;
		pointer-events: none;
	}
}
.block_form{
	display: none;
	h3{
		color: rgb(27, 27, 27);
		font-weight: 400;
		font-size: 22px;
		line-height: 1.25;
		margin-bottom: 24px;
		@media screen and (min-width: 1536px) {
			font-size: 24px;
		}
	}
}
.success_block{
	color: rgb(0, 117, 193);
	display: none;
	p{
		font-size: 16px;
		line-height: 1.5;
		margin: 0;
		padding: 15px 0;
		@media screen and (min-width: 1536px) {
			font-size: 18px;
		}
	}
}
.footer_form{
	padding-top: 30px;
	p{
		font-size: 12px;
		line-height: 1.5;
		padding: 8px 0 30px;
		max-width: 100%;
		flex:0 0 100%;
		@media screen and (min-width: 1536px) {
			font-size: 14px;
		}
		margin: 0;
		color: rgb(89, 89, 89);
		a{
			color: rgb(0, 117, 193);
			&:hover{
				color: rgb(0, 73, 124);
				text-decoration: none;
			}
		}
	}
	@media screen and (max-width: 767px){
		padding-top: 0;
		.btn_send{
			display: block;
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
			flex:0 0 100%;
			order:-1;
		}
		p{
			padding: 30px 0;
		}
	}
}